/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.jsons
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
vendor/autoload.php
vendor/autoload.php
vendor/autoload.php
vendor/composer/autoload_files.php
vendor/autoload.php
vendor/autoload.php
