  /* Custom today class */
  .morning_panel{
    border-left: 10px solid yellow ;
}
.noon_panel{
  border-left: 10px solid orangered ;
  }
  .night_panel{
  border-left: 10px solid black ;
  }
 input[type="text"]{
  border: 1px solid black!important;
 }